@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-section">
    <h1 class="display-4 mb-3 fw-bold">Who We Are???</h1>
    <div class="underline"></div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 text-center">
                <div>
                    <img src="~/images/Pioneer.jpg" class="card-img-top w-25" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">ABOUT</h5>
                    <p class="card-text">Pioneer of SME (Small and Medium Enterprise) Banking in Bangladesh.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div>
                    <img src="~/images/global.jpg" class="card-img-top w-25" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">OFFERS</h5>
                    <p class="card-text">Offers comprehensive range of banking solutions, including state-of-the-art digital solutions, to its 1.1 million customers.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div>
                    <img src="~/images/number-1.jpg" class="card-img-top w-25" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">MISSION</h5>
                    <p class="card-text">With a mission help people prosper, Smart Loan aspires to be the best micro-loan provider in Bangladesh..</p>
                </div>
            </div>
        </div>
    </div>

</div>
