@{
    ViewData["Title"] = "Privacy Policy";
}

<h5 class="badge bg-primary fs-3 text-wrap">Our commitment to protect your privacy</h5>
<hr />

<p class="blockquote">We understand how important it is to protect your personal information. This policy sets out our privacy policy commitment in respect of personal information we hold about you and what we do with that information. </p>

<p class="blockquote">We recognise that any personal information we collect about you will only be used for the purposes we have collected it or as allowed under the law. It is important to us that you are confident that any personal information we hold about you will be treated in a way which ensures protection of your personal information.</p>

<p class="blockquote">Our commitment in respect of personal information is to abide by the Bangladeshi Privacy Principles for the protection of personal information, as set out in the Privacy Act and the Notifiable Data Breach scheme established under the Act.  </p>

<p class="blockquote">Periodically we will update our privacy policy. You can always find the most up-to-date version on our websites. By using our services, you consent to the terms of this Policy and agree to be bound by it. </p>
